.home-page {
    display: flex;
    margin: 0 auto;
    padding: 40px;
}

.description {
    justify-content: center;
    text-justify: inter-word;
    text-align: justify;
    font-style: italic;
    font-size: larger;
}

.live-btn {
    background-color: rgb(192, 213, 245);
    color: rgb(6, 6, 128);
    padding: 10px 20px;
    border: 30px;
    border-radius: 10px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.live-btn:hover {
    font-weight: 700;
}

.CustomerReviews {
    margin-bottom: 300px;

}

.button {
    margin-top: 0;
    margin-bottom: 50px;
}

@media only screen and (max-width: 900px) {
    .home-page {
        display: block;
    }
}