nav a {
    text-shadow: 120px;
    color: aqua;
    text-decoration: none;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

nav a:hover {
    color: tomato;

}

.header nav {
    padding-top: 40px;
    height: 100px;
    background-color: black;
}