nav a {
    text-shadow: 120px;
    color: aqua;
    text-decoration: none;
    padding-left: 20px;
}

nav a:hover {
    color: azure;
    font-size: large;
}

.header nav {
    padding-top: 40px;
    height: 100px;
    background-color: black;
}